<!DOCTYPE html>
<html lang="es">

<head>
    <title>Tarjeta de pagos</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<style>
    /*Esto hace que imprima los colores cuando se genera un pdf local*/
    html {
        -webkit-print-color-adjust: exact;
    }

    .bg-encabezado {
        background-color: rgb(238, 238, 238);
    }

    .page {
        height: 740px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .page2 {
        height: 730px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .hoja {
        border-radius: 7px 0 7px 0;
        height: 20px;
    }

    .hoja2 {
        border-radius: 7px 0 7px 0;
        padding-left: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .letter-small {
        font-size: 6px;
    }

    .punteado {
        border: 1px solid black;
        border-style: dashed;
    }
</style>

<body>

    {{!-- Aqui tenemos que preguntar de cuantas semanas es el crédito y 
    en base a eso elegimos que formato imprimimos --}}

    {{!-- 16 SEMANAS  --}}
    {{#ifCond credito.num_semanas 17}}

        {{!-- Pagina 1 - 16 SEMANAS --}}
        <div class="page">


            <div class="row" style="height: 680px;">

                <div class="col">

                    <div class="row">
                        <div class="col">
                            <div style="margin-left: -20px;">
                                <img style="height: 40px; "
                                    src="https://system-proyectasfweb.com//assets/images/proyecta_logo_gris.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <table style="width: 100%;">
                                <tr>
                                    <td class="text-end">
                                        TARJETA DE PAGOS
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end">
                                        Folio <span class="fw-bold text-danger"> P-CPER-AVAL-{{credito.num_contrato}}</span> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col punteado" style="border-radius: 5px;">

                            <div style="font-size: 8px; ">
                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; font-weight: bold;">DATOS DEL
                                        CLIENTE</span>
                                </div>
                                <div class="row">
                                    <div class="col-6" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.num_cliente}}
                                        </div>
                                    </div>
                                    <div class="col-3" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.zona}}
                                        </div>
                                    </div>
                                    <div class="col-3" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.agencia}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col-6 text-left letter-small">No. de cliente
                                    </div>
                                    <div class="col-3 text-left letter-small">Zona</div>
                                    <div class="col-3 text-left letter-small">Agencia</div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px" class="col">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.nombre}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        Nombre(s)
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px;" class="col">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.apellido_paterno}} {{credito.apellido_materno}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        Apellidos
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col punteado" style="border-radius: 5px; margin-left: 5px;">
                            <div style="font-size: 8px; ">
                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; font-weight: bold;">DATOS DEL
                                        CRÉDITO</span>
                                </div>
                                <div class="row">
                                    <div class="col" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2 text-end">
                                            <span style="margin-right: 10px;">
                                                $ {{credito.monto_otorgado2}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col text-left letter-small">Préstamo autorizado
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px" class="col">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.fecha_entrega_prog2}}
                                        </div>
                                    </div>

                                    <div style="padding-left: 2px; padding-right: 2px" class="col">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.fecha_fin_prog_proyecta}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        Fecha de entrega
                                    </div>
                                    <div class="col letter-small">
                                        Fecha de término
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px;" class="col">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.telefono}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        No. Telefónico
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-1">

                        <div class="col punteado" style="border-radius: 5px;">

                            <div style="font-size: 8px; ">

                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; font-weight: bold;">NOMBRE DEL OBLIGADO SOLIDARIO</span>
                                </div>
                                
                                <div class="row">
                                    <div class="col" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.aval_nombre}} {{credito.aval_apellido_paterno}} {{credito.aval_apellido_materno}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; ">DIRECCIÓN, N. TELEFÓNICO</span>
                                </div>
                                
                                <div class="row">
                                    <div class="col" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.aval_calle}} {{credito.aval_num_ext}} Col. {{credito.aval_colonia}} - {{credito.aval_telefono}}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row punteado mt-1" style="border-radius: 5px;">
                        <div class="row">
                            <div class="col letter-small">
                                <span style="font-weight: bold;">CALENDARIO DE PAGOS</span>
                            </div>
                        </div>

                        <div class="row letter-small" style="padding-left: 5px;">
                            <div class="col"></div>
                            <div class="col-2">Fecha de pago:</div>
                            <div class="col-2">Fecha de pago:</div>
                            <div class="col-2">Importe</div>
                            <div class="col">Folio:</div>
                            <div class="col-2">Firma Cliente:</div>
                            <div class="col-2">Firma Agente:</div>
                        </div>

                        {{#each rows}}

                            {{#ifCond this.num_semana 17}}
                                <div class="row"
                                    style="font-size:10px; height:23px; padding-left: 5px; margin-top:2px; margin-bottom:2px; padding-right: 0;">
                                    
                                    <div class="col-1" style="padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            {{this.num_semana}}
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            {{this.dia_pago}} / {{this.mes_pago}} / {{this.año_pago}}
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right:1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex align-items-center" style="height: 100%;">
                                            $
                                        </div>
                                    </div>
                                    <div class="col" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 0;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                </div>
                            {{else}}

                            {{/ifCond}}


                        {{/each}}

                    </div>

                    {{!-- Pie de página --}}

                    <div class="row mt-1">

                        <div class="col punteado" style="border-radius: 5px;">

                            <div style="font-size: 8px; margin-bottom: 2px;">

                                <div class="row">

                                    <div class="col-5" style="padding-left: 4px;">

                                        <div class="row">
                                            <div class="col">
                                                <span style="font-size: 8px; padding-left: 2px; font-weight: bold;">
                                                    VALIDACIÓN DE TÉRMINO DE CICLO
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">Total pagado <br> durante el ciclo:</div>
                                            <div class="col">
                                                <div class="hoja2 bg-encabezado d-flex align-items-center" style="height: 24px;">$</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="hoja2 bg-encabezado" style="margin-top: 2px; height: 30px;">
                                                    Nombre y firma del cliente
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col" style="padding-left: 1px; padding-right: 4px;">
                                        <div class="row">
                                            Inversión Positiva:
                                        </div>
                                        <div class="row">
                                            <div class="col-4" style="padding-left: 1px; padding-right: 1px;">
                                                <div style="height: 10px;"></div>
                                                <div class="hoja2 bg-encabezado" style="height: 45px;">Firma administrativo</div>
                                            </div>
                                            <div class="col" style="padding-left: 1px;;">
                                                <div class="hoja2 bg-encabezado d-flex justify-content-center align-items-center" style="height: 55px; font-size: 7px;">
                                                    Nombre y firma del representante de Proyecta
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                {{!-- <div class="row">

                                    <div class="col-5">

                                        <div class="row">

                                            <div class="col-6">
                                                <div>
                                                    Total pagado <br> 
                                                    durante el ciclo:
                                                </div>
                                            </div>

                                            <div class="col" style="padding-left: 2px; padding-right: 2px;">
                                                <div class="bg-encabezado hoja2 d-flex align-items-center" style="height: 24px; font-size: 10px;">
                                                    $ &nbsp;
                                                </div>
                                            </div>

                                        </div>

                                    </div>

                                    <div class="col">
                                        <div class="row">
                                            <div class="col-5">
                                                <div class="bg-encabezado hoja2" style="height: 50px;">
                                                    Firma administrativo
                                                </div>
                                            </div>
                                            <div class="col">Nombre y Firma</div>
                                        </div>
                                    </div>

                                </div>

                                <div class="row mt-1 mb-1">
                                    <div class="col-5" style="padding-right: 2px">
                                        <div class="bg-encabezado hoja2" style="height: 30px;">
                                            Nombre y firma del cliente
                                        </div>
                                    </div>
                                </div> --}}
                            </div>

                        </div>

                    </div>


                </div>

                {{!-- Mitad de Hoja --}}
                <div class="col"></div>
            </div>

        </div>

    {{else}}

        {{!-- 26 SEMANAS --}}
        {{!-- Página 1 - 26 SEMANAS --}}
        <div class="page">

            <div class="row" style="height: 680px;">

                <div class="col">

                    <div class="row">
                        <div class="col">
                            <div style="margin-left: -20px;">
                                <img style="height: 40px; "
                                    src="https://system-proyectasfweb.com//assets/images/proyecta_logo_gris.png" alt="">
                            </div>
                        </div>
                        <div class="col">
                            <table style="width: 100%;">
                                <tr>
                                    <td class="text-end">
                                        TARJETA DE PAGOS
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-end">
                                        Folio <span class="fw-bold text-danger"> P-CPER-AVAL-{{credito.num_contrato}}</span> 
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col punteado" style="border-radius: 5px;">

                            <div style="font-size: 8px; ">
                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; font-weight: bold;">DATOS DEL
                                        CLIENTE</span>
                                </div>

                                <div class="row">
                                    <div class="col-6" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.num_cliente}}
                                        </div>
                                    </div>
                                    <div class="col-3" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.zona}}
                                        </div>
                                    </div>
                                    <div class="col-3" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.agencia}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col-6 text-left letter-small">No. de cliente
                                    </div>
                                    <div class="col-3 text-left letter-small">Zona</div>
                                    <div class="col-3 text-left letter-small">Agencia</div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px" class="col">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.nombre}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        Nombre(s)
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px;" class="col">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.apellido_paterno}} {{credito.apellido_materno}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        Apellidos
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="col punteado" style="border-radius: 5px; margin-left: 5px;">
                            <div style="font-size: 8px; ">
                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; font-weight: bold;">DATOS DEL
                                        CRÉDITO</span>
                                </div>
                                <div class="row">
                                    <div class="col" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2 text-end">
                                            <span style="margin-right: 10px;">
                                                $ {{credito.monto_otorgado2}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col text-left letter-small">Préstamo autorizado
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px" class="col">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.fecha_entrega_prog2}}
                                        </div>
                                    </div>

                                    <div style="padding-left: 2px; padding-right: 2px" class="col">
                                        <div class="bg-encabezado hoja2 text-center">
                                            {{credito.fecha_fin_prog_proyecta}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        Fecha de entrega
                                    </div>
                                    <div class="col letter-small">
                                        Fecha de término
                                    </div>
                                </div>
                                <div class="row">
                                    <div style="padding-left: 4px; padding-right: 2px;" class="col">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.telefono}}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <div style="padding-left: 4px;" class="col letter-small">
                                        No. Telefónico
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row mt-1">

                        <div class="col punteado" style="border-radius: 5px;">

                            <div style="font-size: 8px; ">

                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; font-weight: bold;">NOMBRE DEL OBLIGADO SOLIDARIO</span>
                                </div>
                                
                                <div class="row">
                                    <div class="col" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.aval_nombre}} {{credito.aval_apellido_paterno}} {{credito.aval_apellido_materno}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <span class="letter-small" style="padding-left: 4px; ">DIRECCIÓN, N. TELEFÓNICO</span>
                                </div>
                                
                                <div class="row">
                                    <div class="col" style="padding-left: 4px; padding-right: 2px">
                                        <div class="bg-encabezado hoja2">
                                            {{credito.aval_calle}} {{credito.aval_num_ext}} Col. {{credito.aval_colonia}} - {{credito.aval_telefono}}
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="row punteado mt-1" style="border-radius: 5px;">
                        <div class="row">
                            <div class="col letter-small">
                                <span style="font-weight: bold;">CALENDARIO DE PAGOS</span>
                            </div>
                        </div>

                        <div class="row letter-small" style="padding-left: 5px;">
                            <div class="col"></div>
                            <div class="col-2">Fecha de pago:</div>
                            <div class="col-2">Fecha de pago:</div>
                            <div class="col-2">Importe</div>
                            <div class="col">Folio:</div>
                            <div class="col-2">Firma Cliente:</div>
                            <div class="col-2">Firma Agente:</div>
                        </div>

                        {{#each rows}}

                            {{#ifCond this.num_semana 18}}
                                <div class="row"
                                    style="font-size:10px; height:28px; padding-left: 5px; margin-top:2px; margin-bottom:2px; padding-right: 0;">
                                    
                                    <div class="col-1" style="padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            {{this.num_semana}}
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            {{this.dia_pago}} / {{this.mes_pago}} / {{this.año_pago}}
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right:1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex align-items-center" style="height: 100%;">
                                            $
                                        </div>
                                    </div>
                                    <div class="col" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 0;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                </div>
                            {{else}}

                            {{/ifCond}}


                        {{/each}}

                    </div>


                </div>
                {{!-- Mitad de Hoja --}}
                <div class="col">

                    <div style="height: 20px;"></div>

                    <div class="row punteado mt-1" style="border-radius: 5px;">

                        {{#each rows}}

                            {{#ifCondMayor this.num_semana 17}}
                                <div class="row"
                                    style="font-size:10px; height:28px; padding-left: 5px; margin-top:2px; margin-bottom:2px; padding-right: 0;">
                                    
                                    <div class="col-1" style="padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            {{this.num_semana}}
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            {{this.dia_pago}} / {{this.mes_pago}} / {{this.año_pago}}
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right:1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex align-items-center" style="height: 100%;">
                                            $
                                        </div>
                                    </div>
                                    <div class="col" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 0;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                </div>
                            {{else}}

                            {{/ifCondMayor}}


                        {{/each}}

                        {{#times credito.dif_num_semanas }}
                            <div class="row"
                                    style="font-size:10px; height:28px; padding-left: 5px; margin-top:2px; margin-bottom:2px; padding-right: 0;">
                                    
                                    <div class="col-1" style="padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            &nbsp;
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 2px; padding-right: 2px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right:1px;">
                                        <div class="bg-encabezado hoja2 d-flex justify-content-center align-items-center"
                                            style="height: 100%;">
                                            &nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="bg-encabezado hoja2 d-flex align-items-center" style="height: 100%;">
                                            $
                                        </div>
                                    </div>
                                    <div class="col" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 1px;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                    <div class="col-2" style="padding-left: 1px; padding-right: 0;">
                                        <div class="punteado" style="height:100%; border-radius: 5px;">&nbsp;</div>
                                    </div>
                                </div>
                        {{/times}}
                        



                    </div>

                    {{!-- Pie de página --}}

                    <div class="row mt-1">

                        <div class="col punteado" style="border-radius: 5px;">

                            <div style="font-size: 8px; margin-bottom: 2px;">

                                <div class="row">

                                    <div class="col-5" style="padding-left: 4px;">

                                        <div class="row">
                                            <div class="col">
                                                <span style="font-size: 8px; padding-left: 2px; font-weight: bold;">
                                                    VALIDACIÓN DE TÉRMINO DE CICLO
                                                </span>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">Total pagado <br> durante el ciclo:</div>
                                            <div class="col">
                                                <div class="hoja2 bg-encabezado d-flex align-items-center" style="height: 24px;">$</div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col">
                                                <div class="hoja2 bg-encabezado" style="margin-top: 2px; height: 30px;">
                                                    Nombre y firma del cliente
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col" style="padding-left: 1px; padding-right: 4px;">
                                        <div class="row">
                                            Inversión Positiva:
                                        </div>
                                        <div class="row">
                                            <div class="col-4" style="padding-left: 1px; padding-right: 1px;">
                                                <div style="height: 10px;"></div>
                                                <div class="hoja2 bg-encabezado" style="height: 45px;">Firma administrativo</div>
                                            </div>
                                            <div class="col" style="padding-left: 1px;;">
                                                <div class="hoja2 bg-encabezado d-flex justify-content-center align-items-center" style="height: 55px; font-size: 7px;">
                                                    Nombre y firma del representante de Proyecta
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>


        </div>

    {{/ifCond}}

</body>

</html>