<!DOCTYPE html>
<html lang="es">

<head>
    <title>Amortizacion</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
</head>

<style>
    /*Esto hace que imprima los colores cuando se genera un pdf local*/
    html {
        -webkit-print-color-adjust: exact;
    }

    .bg-encabezado {
        background-color: rgb(238, 238, 238);
    }

    .page {
        height: 981px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .hoja {
        border-radius: 7px 0 7px 0;
        height: 30px;
    }

    .punteado {
        border: 1px solid black;
        border-style: dashed;
    }
</style>

<body>

    <div class="page">

        <div class="row">

            <div class="col">
                <div style="margin-left: -20px;">
                    <img style="height: 60px; " src="https://smapac.gob.mx/assets/images/proyecta_logo_gris.png" alt="">
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <table>
                    <tr>
                        <td class="text-end">
                            TARJETA DE PAGOS
                        </td>
                    </tr>
                    <tr>
                        <td class="fw-bold text-danger text-end">
                            {{credito.num_contrato}}
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="row mt-2 mb-1">

            <div style="width: 52%; border-radius: 5px;" class="punteado">

                <table style="font-size: 10px;">
                    <thead>
                        <tr>
                            <th colspan="3">DATOS DEL CLIENTE</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 140px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        {{credito.num_cliente}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 90px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        {{credito.zona}}
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 90px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        {{credito.agencia}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="font-size: 8px;">
                            <td style="padding-left: 10px;">No. de Cliente</td>
                            <td style="padding-left: 10px;">Zona</td>
                            <td style="padding-left: 10px;">Agencia</td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 344px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; padding-left:10px; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        {{credito.nombre}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="font-size: 8px;">
                            <td colspan="3" style="padding-left: 10px;">Nombre(s)</td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 344px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; padding-left:10px; align-items:center; margin-left: auto; margin-right:auto; height: 30px;">
                                        {{credito.apellido_paterno}} {{credito.apellido_materno}}
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="font-size: 8px;">
                            <td colspan="3" style="padding-left: 10px;">Apellidos</td>
                        </tr>

                    </tbody>
                </table>

            </div>

            <div style="width: 47%; border-radius: 5px; margin-left:4px" class="punteado">
                <table style="font-size: 10px;">
                    <thead>
                        <tr>
                            <th colspan="3">DATOS DEL CRÉDITO</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td colspan="2">
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 320px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content: end; padding-right:10px; align-items:center; padding-left:10px; margin-left: auto; margin-right:auto; height: 30px;">
                                        $ {{credito.monto_otorgado2}} 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="font-size: 8px;">
                            <td colspan="3" style="padding-left: 10px;">Préstamo autorizado</td>
                        </tr>

                        <tr>
                            <td>
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 152px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px;">
                                        {{credito.fecha_entrega_prog2}} 
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 152px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px;">
                                        {{credito.fecha_fin_prog2}} 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="font-size: 8px;">
                            <td style="padding-left: 10px;">Fecha de entrega:</td>
                            <td style="padding-left: 10px;">Fecha de término</td>
                        </tr>

                        <tr>
                            <td colspan="3">
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 320px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content: end; padding-right:10px; align-items:center; margin-left: auto; margin-right:auto; height: 30px; ">
                                        {{credito.telefono}} 
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr style="font-size: 8px;">
                            <td colspan="3" style="padding-left: 10px;">No. Telefónico</td>
                        </tr>

                    </tbody>
                </table>
            </div>

        </div>

        <div class="row mb-1">

            <div class="punteado" style="border-radius: 10px; padding-bottom: 3px;">
                <table class="mt-1" style="font-size: 10px;">
                    <thead style="height: 10px;">
                        <tr>
                            <th colspan="6" class="fw-bold">CALENDARIO DE PAGOS</th>
                        </tr>
                        <tr style="height: 5px;">
                            <th class="text-center"></th>
                            <th>Fecha de pago:</th>
                            <th>Fecha de pago:</th>
                            <th class="text-center">Importe:</th>
                            <th class="text-center">Folio:</th>
                            <th class="text-center">Firma Cliente:</th>
                            <th class="text-center">Firma Agente:</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each rows}}
                        <tr>
                            <td style="width: 50px;">

                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 40px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="font-size: 12px; display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        {{this.num_semana}}
                                    </div>
                                </div>


                            </td>
                            <td style="width: 120px;">
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 120px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        {{this.dia_pago}} / {{this.mes_pago}} / {{this.año_pago}}
                                    </div>
                                </div>
                            </td>

                            <td style="width: 130px;">
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 130px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        &nbsp;/ <span style="width: 40px;">&nbsp;</span> /&nbsp;
                                    </div>
                                </div>
                            </td>

                            <td style="width: 100px;">
                                <div class="hoja bg-encabezado"
                                    style="padding-top: 0px, height: 30px; width: 100px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="font-size: 12px; padding-left:10px; display: flex; justify-content:start; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        $
                                    </div>
                                </div>
                            </td>

                            <td>
                                <div class="punteado"
                                    style="border-radius:5px; padding-top: 0px, height: 30px; width: 80px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        &nbsp;
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="punteado"
                                    style="border-radius:5px; padding-top: 0px, height: 30px; width: 80px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        &nbsp;
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="punteado"
                                    style="border-radius:5px; padding-top: 0px, height: 30px; width: 80px; margin-left: 5px; margin-right: 5px;">
                                    <div class="text-center"
                                        style="display: flex; justify-content:center; align-items:center; margin-left: auto; margin-right:auto; height: 30px; align-items:center;">
                                        &nbsp;
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row mb-1">

            <div style="width: 100%; border-radius: 5px; padding-bottom: 3px" class="punteado">

                <table style="font-size: 8px; width: 100%">
                    <tbody>
                        <tr>
                            <td style="width: 35%;" colspan="2"><b>VALIDACIÓN DE TÉRMINO DE CICLO</b> </td>
                            <td style="width: 30%; height: 25px; padding-left:10px">inversión positiva:</td>
                            <td style="width: 35%; height: 95px;" rowspan="3">
                                <div class="bg-encabezado hoja"
                                    style="text-align:center; line-height:150px; height: 90px; margin-left:5px; ">Nombre
                                    y firma del representante de Proyecta</div>
                            </td>
                        </tr>


                        <tr>
                            <td style="width:10%">
                                Total pagado
                                durante el ciclo:
                            </td>
                            <td class="text-start">
                                <div class="bg-encabezado hoja"
                                    style="line-height:30px; margin-left:5px; margin-right:5px; padding-left:10px; font-size:12px">
                                    $</div>
                            </td>
                            <td rowspan="2">
                                <div class="bg-encabezado hoja"
                                    style="line-height:20px; height: 68px; padding-left:10px;">Firma administrativa
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <div class="bg-encabezado hoja"
                                    style="line-height:20px; margin-right:5px; padding-left:10px">Nombre y firma del
                                    cliente</div>
                            </td>
                        </tr>

                    </tbody>
                </table>

            </div>

        </div>

        {{!-- {{#times 19 }}
        <span>Hola</span><br>
        {{/times}} --}}

    </div>

</body>

</html>